:root {
  --border-color: #C7C7C7;
  --text-color: #5F5D5D;
  --red-color: #DA2B39;
}
@font-face {
  font-family: 'Segoe';
src: url('./Segoe-UI-Font/SEGOEUI.TTF'), url('./Segoe-UI-Font/SEGOEUI.TTF') format('truetype'), url('./Segoe-UI-Font/SEGOEUI.TTF') format('svg');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Segoe';
}
h1{
  font-size: 2.5rem;
  color: var(--text-color);
}
h2{
  font-size: 2rem;
  color: var(--text-color);
}
h3{
  font-size: 1.5rem;
  color: var(--text-color);
}
h4{
  font-size: 1.4rem;
  color: var(--text-color);
}
h5{
  font-size: 1.3rem;
  color: var(--text-color);
}
a{
  text-decoration: none;
}
p{
  font-size: 1.2rem;
  color: var(--text-color);
}
.container-fluid{
  width: 95% !important;
  margin: auto;
}
.fw-700{
  font-weight: 700 !important;
}
.btn-primary{
  background-color: white !important;
  border: none;
  color: black !important;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--border-color) !important;
  width: 100%;
}
.footer{
  background-image: linear-gradient(to bottom,rgba(34,116,164,0.7), rgba(34,116,164,0.7)), url('./img/boudha-stupa.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: #2274A4;
}
