*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
}
a{
  text-decoration: none;
}
p{
  font-size: 1.3rem;
}
.btn-primary{
  background-color: #1c6163;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 5px;
}
.container{
  margin: auto;
  width: 80%;
  padding: 3rem;
}
@media only screen and (min-width: 1500px) {
  main{
    margin: auto;
    width: 60%;
  }
  .table-wrapper{
    border: 1px solid lightgray;
    border-top: none;
  }
}
.checkbox{
  cursor: pointer;
}
.search{
  border-radius: 5px;
  margin-right: 1rem;
  background: none;
  border: 1px solid lightgray;
  padding: 1rem;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}
.table-head{
  display: flex;
  align-items: center;
  background-color: rgba(135, 207, 235, 0.349);
  padding: 1rem;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.table-body{
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}
.table-head .th{
  font-weight: 400;
  font-size: 1.2rem;
}
.table-head .th{
  flex: 1 1 12%;
}
.table-head .th:first-child{
  flex: 1 1 5%;
}
.table-head .th:nth-child(2){
  flex: 1 1 14%;
}
.table-head .th:nth-child(3){
  flex: 1 1 12%;
}
.table-head .th:nth-child(4){
  flex: 1 1 17%;
}
.table-head .th:nth-child(5){
  flex: 1 1 15%;
}


/* For table body */

.table-body .td{
  font-weight: 400;
  font-size: 1rem;
}
.table-body .td{
  flex: 1 1 12%;
}
.table-body .td:first-child{
  flex: 1 1 5%;
}
.table-body .td:nth-child(2){
  flex: 1 1 14%;
}
.table-body .td:nth-child(3){
  flex: 1 1 12%;
}
.table-body .td:nth-child(4){
  flex: 1 1 17%;
}
.table-body .td:nth-child(5){
  flex: 1 1 15%;
}

.table-responsive{
  width: 100%;
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
}
.table-wrapper{
  min-width: 80rem;
}
.table-responsive::-webkit-scrollbar {
  width: 5px;
}
.table-responsive::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
.table-responsive::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}


.search-wrap{
  position: relative;
  width:75%;
}
.header-right{
  display: flex;
  align-items: center;
}
.search-box{
  margin-right: 2rem;
  background: lightgray;
  border: 1px solid lightgray;
  height: 40px;
  border-radius: 40px;
}
.search-box:hover > input{
  width: 200px;
  padding: 0 10px;
  display: initial;
  transition: all .5s ease-in-out;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 40px;
}
.search-box:hover > .icon{
  background-color: lightgray;
}
.icon:hover{
  transform: rotate(360deg);
  scale: 0.8;
}
.search-box input{
  width: 0;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  font-size: 1.1rem;
  transition: .5s ease;
  line-height: 37px;
  color: black;
  display: none;
  transition: all .5s ease-in-out;
}
.icon{
  color: black;
  float: right;
  width: 38px;
  font-size: 1.3rem;
  height: 38px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid lightgray !important;
}